<div id="toast-anchor-settings">
  <app-header [currentTab]="Tab.Settings"></app-header>
</div>
<ion-content
  #content
  class="settings-content"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-accordion-group
    [value]="openAccordion"
    (ionValueChange)="onAccordionGroupChange($event, content)"
    title="{{this.showAllAccordions ? ('SETTINGS.TOOLTIPS.OPEN_ACCORDION' | translate) : ('SETTINGS.TOOLTIPS.CLOSE_ACCORDION' | translate) }}"
  >
    <h6 class="ion-text-center">{{'APP.NAME' | translate}}</h6>
    <!-- Show all accordions and section title  -->
    @if (showAllAccordions && !openAccordion) {
    <h5 class="ion-text-center settings-section-title" title="">
      {{'SETTINGS.TITLE' | translate}}
    </h5>
    @if (selectedLanguage) {
    <app-language-accordion [lang]="selectedLanguage"></app-language-accordion>
    } @if (selectedLanguage) {
    <div style="margin-top: 16px">
      <app-target-languages-accordion
        [lang]="selectedLanguage"
      ></app-target-languages-accordion>
    </div>
    }
    <app-text-to-speech-accordion></app-text-to-speech-accordion>
    <h5 class="ion-text-center settings-section-title" title="">
      {{ "SETTINGS.FEEDBACK.SEPARATOR" | translate }}
    </h5>
    <app-feedback-accordion></app-feedback-accordion>

    <h5 class="ion-text-center settings-section-title" title="">
      {{ "SETTINGS.INFORMATIONS" | translate }}
    </h5>
    <app-get-statistics-accordion
      [lang]="selectedLanguage"
      [yearMonth]="currentYearMonth"
    ></app-get-statistics-accordion>
    <app-privacy-policy-accordion></app-privacy-policy-accordion>
    <app-change-log-accordion
      [versionInfo]="versionInfo"
    ></app-change-log-accordion>
    @if(!isNative) {
    <app-get-mobile-app-accordion></app-get-mobile-app-accordion>
    }
    <app-get-source-accordion></app-get-source-accordion>
    }
    <!-- Show only the opened accordion  -->
    @if (!showAllAccordions && openAccordion) { @switch (openAccordion) { @case
    ('language') {
    <app-language-accordion
      [lang]="selectedLanguage"
      (ionChange)="onLanguageChange($event)"
    ></app-language-accordion>
    } @case ('target-languages') {
    <app-target-languages-accordion
      [lang]="selectedLanguage"
      (ionChange)="onTargetLanguagesChange($event)"
    ></app-target-languages-accordion>
    } @case ('text-to-speech') {
    <app-text-to-speech-accordion
      [lang]="selectedLanguage"
      [isNative]="isNative"
      [(ngModel)]="textToSpeechValues"
      (ngModelChange)="onChangeTtsValue($event)"
    ></app-text-to-speech-accordion>
    } @case ('z-control') {
    <app-feedback-accordion [lang]="selectedLanguage"></app-feedback-accordion>
    } @case ('get-statistics') {
    <app-get-statistics-accordion
      [lang]="selectedLanguage"
      [yearMonth]="currentYearMonth"
    ></app-get-statistics-accordion>
    } @case ('privacy-policy') {
    <app-privacy-policy-accordion
      [lang]="selectedLanguage"
    ></app-privacy-policy-accordion>
    } @case ('change-log') {
    <app-change-log-accordion
      [lang]="selectedLanguage"
      [versionInfo]="versionInfo"
      (ionChange)="openChangelog()"
    ></app-change-log-accordion>
    } @case ('get-mobile-app') {
    <app-get-mobile-app-accordion
      [lang]="selectedLanguage"
    ></app-get-mobile-app-accordion>
    } @case ('get-source-code') {
    <app-get-source-accordion
      [lang]="selectedLanguage"
    ></app-get-source-accordion>
    } }
    <!-- Button to show all accordions -->
    <div class="ion-padding ion-text-center accordion-close-button">
      <ion-button
        (click)="showAll()"
        expand="block"
        title="{{ 'SETTINGS.TOOLTIPS.CLOSE_ACCORDION' | translate }}"
      >
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        {{ 'SETTINGS.BUTTON.CLOSE' | translate }}
      </ion-button>
    </div>
    }
  </ion-accordion-group>
</ion-content>
