<ion-accordion value="target-languages" id="target-languages">
  <ion-item slot="header" color="light">
    <ion-label>
      {{ "SETTINGS.TARGET_LANGUAGES.ACCORDION" | translate }}:<br /><br />
      <span
        [innerHTML]="localStorage.targetLanguagesNameWithLineBreaks$ | async"
      ></span>
    </ion-label>
  </ion-item>
  <div class="ion-padding" slot="content" title="">
    <ion-item>
      <ion-label
        >{{ "SETTINGS.TARGET_LANGUAGES.LABEL.BASE_LANG" | translate }}:
        {{ localStorage.selectedLanguageName$ | async }}</ion-label
      >
    </ion-item>
    <ion-item
      button
      (click)="openLanguageSelect()"
      title="{{
        'SETTINGS.TARGET_LANGUAGES.TOOLTIPS.SELECT_TARGET_LANG' | translate
      }}"
      style="font-weight: 700"
    >
      <ion-label>{{
        "SETTINGS.TARGET_LANGUAGES.LABEL.TARGET_LANG" | translate
      }}</ion-label>
      <ion-icon slot="end" name="caret-down-outline"></ion-icon>
    </ion-item>

    <ng-container *ngIf="lang === 'de'; else englishTemplate">
      <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
    </ng-container>

    <!-- E N G L I S H   T E M P L A T E -->

    <ng-template #englishTemplate>
      <div class="notes">
        <p>Note</p>
        <p>
          Translate from the base language into up to
          <strong>{{ maxTargetLanguages }} target languages</strong>
          simultaneously.
        </p>
        <p>
          The base language cannot be selected as a target language and is
          excluded from the list.
        </p>
        <p>
          To change the base language, go to Settings > Language / Base
          Language.
        </p>
        <p>Please select your desired target languages.</p>
      </div>
    </ng-template>

    <!-- G E R M A N   T E M P L A T E -->

    <ng-template #germanTemplate>
      <div class="notes">
        <p>Hinweis</p>
        <p>
          Sie können Text von der Basissprache in bis zu
          <strong>{{ maxTargetLanguages }} Zielsprachen</strong> gleichzeitig
          übersetzen.
        </p>
        <p>
          Die Basissprache kann nicht als Zielsprache ausgewählt werden und ist
          daher nicht in der Liste enthalten.
        </p>
        <p>
          Um die Basissprache zu ändern, gehen Sie zu Einstellungen > Sprache /
          Basissprache.
        </p>
        <p>Bitte wählen Sie die gewünschten Zielsprachen aus.</p>
      </div>
    </ng-template>
  </div>
</ion-accordion>
