<ion-accordion value="target-languages" id="target-languages">
  <ion-item slot="header" color="light">
    <ion-label>
      {{ "SETTINGS.TARGET_LANGUAGES.ACCORDION" | translate }}:<br /><br />
      <span [innerHTML]="getTargetLanguageNames()"></span>
    </ion-label>
  </ion-item>
  <div class="ion-padding" slot="content" title="">
    <ion-item>
      <ion-label
        >{{ "SETTINGS.TARGET_LANGUAGES.LABEL.BASE_LANG" | translate }}:
        {{ baseLanguageName }}</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="selectedTargetLanguageCodes"
        aria-label="Sprachen auswählen"
        label="{{ 'SETTINGS.TARGET_LANGUAGES.LABEL.TARGET_LANG' | translate }}"
        label-placement="stacked"
        title="{{
          'SETTINGS.TARGET_LANGUAGES.TOOLTIPS.SELECT_TARGET_LANG' | translate
        }}"
        [multiple]="true"
      >
        <ion-select-option
          *ngFor="let lang of targetLanguages"
          [value]="lang.language"
          >{{ lang.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ng-container *ngIf="lang === 'de'; else englishTemplate">
      <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
    </ng-container>

    <!-- E N G L I S H   T E M P L A T E -->

    <ng-template #englishTemplate>
      <div class="notes">
        <p>Note</p>
        <p>
          You can translate text from the base language into up to a maximum of
          {{ maxTargetLanguages }} target languages simultaneously.
        </p>

        <p>
          You can change the base language under
          <i>Change Language / Base Language</i> in the settings.
        </p>
        <p><strong>Please select the desired target languages.</strong></p>
      </div>
    </ng-template>

    <!-- G E R M A N   T E M P L A T E -->

    <ng-template #germanTemplate>
      <div class="notes">
        <p>Hinweis</p>
        <p>
          Sie können von der Basissprache in bis zu maximal
          {{ maxTargetLanguages }} Zielsprachen gleichzeitig den Text übersetzen
          lassen.
        </p>

        <p>
          Die Basissprache können Sie unter
          <i>Sprache / Basissprache ändern</i> in den Einstellungen ändern.
        </p>
        <p>
          <strong>Bitte wählen Sie die gewünschten Zielsprachen aus.</strong>
        </p>
      </div>
    </ng-template>
  </div>
</ion-accordion>
