<ion-accordion value="text-to-speech" id="text-to-speech">
  <ion-item slot="header" color="light" class="accordion-margin-top">
    <ion-label>{{ "SETTINGS.TEXT_TO_SPEECH.ACCORDION" | translate }}</ion-label>
  </ion-item>

  <div class="ion-padding" slot="content" title="">
    <div class="ion-text-center">
      <ion-label>
        {{ getTtsRateLabel() }}
      </ion-label>
      <ion-range
        *ngIf="ngModel"
        labelPlacement="stacked"
        [value]="ngModel.rate"
        (ionChange)="onChangeTtsRate($event)"
        [disabled]="!isNative"
        style="margin: 20px 45px 35px 45px"
      >
        <div name="arrow-back-outline" slot="start">0</div>
        <div name="arrow-forward-outline" slot="end">100</div>
      </ion-range>
      <ion-label>
        {{ getTtsPitchLabel() }}
      </ion-label>
      <ion-range
        *ngIf="ngModel"
        labelPlacement="stacked"
        [value]="ngModel.pitch"
        (ionChange)="onChangeTtsPitch($event)"
        [disabled]="!isNative"
        style="margin: 20px 45px 35px 45px"
      >
        <div name="arrow-back-outline" slot="start">0</div>
        <div name="arrow-forward-outline" slot="end">100</div>
      </ion-range>
      <ion-button
        (click)="resetTtsSettings()"
        [disabled]="!isNative"
        color="primary"
        title="{{ 'SETTINGS.TEXT_TO_SPEECH.TOOLTIPS.RESET_TTS' | translate }}"
      >
        <ion-icon name="reload-outline" slot="start"></ion-icon>
        {{ "SETTINGS.TEXT_TO_SPEECH.BUTTON.RESET_TTS" | translate }}
      </ion-button>
    </div>

    <ng-container *ngIf="lang === 'de'; else englishTemplate">
      <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
    </ng-container>

    <!-- E N G L I S H   T E M P L A T E -->

    <ng-template #englishTemplate>
      <div class="notes">
        <p style="font-weight: bold">
          Note: These settings are only available on mobile devices (phones and
          tablets).
        </p>
        <p>
          Adjust the speech rate and pitch for how translations are read aloud
          to you.
        </p>
        <p>
          Use the sliders to experiment with different settings, then switch
          back to the translation view to hear the results. If you'd like to try
          different values, return here and adjust the sliders again.
        </p>
        <p>
          The <i>Reset</i> button restores all settings to their default values.
        </p>
      </div>
    </ng-template>

    <!-- G E R M A N   T E M P L A T E -->

    <ng-template #germanTemplate>
      <div class="notes">
        <p style="font-weight: bold">
          Hinweis: Diese Einstellungen sind nur auf mobilen Geräten verfügbar
          (Telefone und Tablets).
        </p>
        <p>
          Passen Sie die Sprach-Geschwindigkeit und Tonhöhe an, um zu steuern,
          wie Übersetzungen laut vorgelesen werden.
        </p>
        <p>
          Nutzen Sie die Regler, um verschiedene Einstellungen auszuprobieren,
          und wechseln Sie dann zurück zur Übersetzungsansicht, um das Ergebnis
          zu hören. Falls Sie andere Werte ausprobieren möchten, kehren Sie
          hierher zurück und passen die Regler erneut an.
        </p>
        <p>
          Die <i>Zurücksetzen</i>-Schaltfläche stellt alle Einstellungen auf die
          Standardwerte zurück.
        </p>
      </div>
    </ng-template>
  </div>
</ion-accordion>
