<ion-header
  class="app-header"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-toolbar color="primary" [class.landscape]="!utilsService.isPortrait">
    <ion-buttons slot="start">
      <app-logo
        [type]="LogoType.Company"
        (click)="goToSettingsAndOpenFeedback()"
        (keydown.enter)="goToSettingsAndOpenFeedback()"
        (keydown.space)="goToSettingsAndOpenFeedback()"
        title="{{ 'HEADER.TOOLTIP.OPEN_FEEDBACK' | translate }}"
      ></app-logo>
    </ion-buttons>
    <ion-title *ngIf="onTranslateTab">
      <b>{{ !isLargeScreen ? ('HEADER.CURRENT_PAGE.TRANSLATE_SHORT' | translate) : ('HEADER.CURRENT_PAGE.TRANSLATE_LONG' | translate:{countTargetLanguages: selectedTargetLanguages.length}) }}</b>
    </ion-title>
    <ion-title *ngIf="onSettingsTab">
      <ion-title>{{ "SETTINGS.TITLE" | translate }}</ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="isLargeScreen && onTranslateTab"
        (click)="goToSettings()"
        (keydown.enter)="goToSettings()"
        (keydown.space)="goToSettings()"
        title = "{{ 'HEADER.TOOLTIP.GOTO_SETTINGS' | translate }}"
        fill="clear"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="isLargeScreen && onSettingsTab"
        (click)="goToTranslate()"
        (keydown.enter)="goToTranslate()"
        (keydown.space)="goToTranslate()"
        title = "{{ 'HEADER.TOOLTIP.GOTO_TRANSLATE' | translate }}"
        fill="clear"
      >
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <ion-button
        class="icon-color"
        fill="clear"
        (click)="openHelpModal()"
        (keydown.enter)="openHelpModal()"
        (keydown.space)="openHelpModal()"
        title = "{{ 'HEADER.TOOLTIP.OPEN_HELP' | translate }}"
      >
        <ion-icon slot="icon-only" name="help-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
