<div id="toast-anchor-translation">
  <app-header [currentTab]="Tab.Translate"></app-header>
</div>
<ion-content
  #content
  class="translate-content"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-grid>
  <ion-row>
    <ion-col
      size="4"
      offset="4"
      size-xs="12"
      offset-xs="0"
      size-sm="10"
      offset-sm="1"
      size-md="4"
      offset-md="4"
    >
      <ion-card class="translation-card">
        <ion-card-header>
          <ion-card-title>{{ 'TRANSLATE.CARD.TITLE' | translate }}</ion-card-title>
          <ion-card-subtitle>
            <div>{{ 'TRANSLATE.CARD.LABEL.BASE_LANGUAGE' | translate }}: {{ defaultSourceLang }}</div>
            <div>{{ 'TRANSLATE.CARD.LABEL.SELECTED_TARGET_LANGUAGES' | translate }}: {{ selectedLanguagesString }}</div>
            <!-- <ion-select
              [(ngModel)]="selectedLanguages"
              aria-label="Sprachen auswählen"
              label="{{ 'TRANSLATE.CARD.LABEL.SELECT_TARGET_LANGUAGES' | translate }}"
              label-placement="stacked"
              [multiple]="true"
            >
              <ion-select-option value="en">Englisch</ion-select-option>
              <ion-select-option value="fr">Französisch</ion-select-option>
              <ion-select-option value="es">Spanisch</ion-select-option>
            </ion-select> -->
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-input
            label="Text"
            type="text"
            [(ngModel)]="text"
            placeholder="{{ 'TRANSLATE.CARD.PLACEHOLDER.INPUT_TEXT' | translate }}"
          />
        </ion-card-content>
        <ion-button fill="clear" (click)="translateText()">{{ 'TRANSLATE.CARD.BUTTON.TRANSLATE' | translate }}</ion-button>
        <ion-button fill="clear" (click)="clear()">{{ 'TRANSLATE.CARD.BUTTON.CLEAR' | translate }}</ion-button>
      </ion-card>
      @if(translations.length > 0) {
      <ion-card class="translation-card">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="3"><strong>{{ 'TRANSLATE.CARD_RESULTS.LABEL.LANGUAGE' | translate }}</strong></ion-col>
              <ion-col size="9"><strong>{{ 'TRANSLATE.CARD_RESULTS.LABEL.TRANSLATED_TEXT' | translate }}</strong></ion-col>
            </ion-row>
            @for (translation of translations; track translation.language) {
            <ion-row>
              <ion-col size="3">{{ translation.language }}</ion-col>
              <ion-col size="9">{{ translation.translatedText }}</ion-col>
            </ion-row>
            }
          </ion-grid>
        </ion-card-content>
      </ion-card>
      }
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
