.translation-content {
  .sticky-toggle-btn {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--ion-background-color, #fff);
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    .translation-results-card-entered-text {
      text-align: left;
    }
  }

  .translation-input-card,
  .translation-results-card {
    ion-card-title {
      text-align: center;
      font-size: 17px;
    }

    ion-card-header {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    ion-icon {
      vertical-align: middle;
      font-size: 1.2em;
    }

    .selected-target-languages {
      margin-top: 16px;
    }

    ion-textarea {
      margin-top: 32px;

      &.no-target-languages {
        min-height: 100px;
        --placeholder-color: var(--ion-color-danger);
        font-size: 1em;
      }
    }
  }
}
