<div id="toast-anchor-translate">
  <app-header
    [currentTab]="Tab.Translate"
    [selectedTargetLanguages]="selectedLanguages"
  ></app-header>
</div>
<ion-content
  #content
  class="translation-content"
  [class.landscape]="!utilsService.isPortrait"
>
  @if(selectedLanguages.length === 0) {
  <div class="no-languages-selected">
    {{ 'TRANSLATE.CARD.NO_TARGET_LANGUAGES' | translate }}
  </div>
  } @if(translations.length > 0) {
  <!-- show switch buttons for input/results cards -->
  <div class="sticky-toggle-btn">
    <ion-button
      fill="clear"
      (click)="toggleCard()"
      [disabled]="clearBtnDisabled"
      (keydown.enter)="toggleCard()"
      >{{ toggleButtonLabel }}</ion-button
    >
  </div>
  } @if(cardInputVisible) {
  <!-- show input card before translation results-->
  <ion-card class="translation-input-card" color="light">
    <ion-card-header>
      <ion-card-title>{{ 'APP.NAME' | translate }}</ion-card-title>
      <p>
        {{ 'TRANSLATE.CARD.INFO' | translate:{ maxInputLength: maxInputLength,
        maxTargetLanguages: maxTargetLanguages } }}
      </p>
      @if (localStorage.targetLanguagesNameWithLineBreaks$) {
      <ion-card-subtitle>
        <div>
          <strong>{{ 'TRANSLATE.CARD.LABEL.BASE_LANGUAGE' | translate }}</strong
          >: {{ baseLangString }}
        </div>
        <div class="selected-target-languages">
          <strong
            >{{ 'TRANSLATE.CARD.LABEL.SELECTED_TARGET_LANGUAGES' | translate
            }}</strong
          >:<br />
          <span
            [innerHTML]="localStorage.targetLanguagesNameWithLineBreaks$ | async"
          ></span>
        </div>
      </ion-card-subtitle>
      }
    </ion-card-header>
    <ion-card-content>
      <ion-textarea
        [(ngModel)]="text"
        labelPlacement="stacked"
        label="{{ 'TRANSLATE.CARD.LABEL.ENTER_TEXT' | translate }}"
        [placeholder]="getTranslationPlaceholder()"
        fill="outline"
        rows="{{ getTextareaRows() }}"
        maxlength="{{ maxInputLength }}"
        [counter]="true"
        [readonly]="textareaDisabled"
        (ionInput)="onTextareaInput()"
      ></ion-textarea>
    </ion-card-content>
    <ion-button
      fill="clear"
      (click)="translateTextOrSimulate()"
      [disabled]="translateBtnDisabled"
      (keydown.enter)="translateTextOrSimulate()"
      >{{ 'TRANSLATE.CARD.BUTTON.TRANSLATE' | translate }}</ion-button
    >
    <ion-button
      fill="clear"
      (click)="clear()"
      [disabled]="clearBtnDisabled"
      (keydown.enter)="clear()"
      >{{ 'TRANSLATE.CARD.BUTTON.CLEAR' | translate }}</ion-button
    >
  </ion-card>
  } @if(translations.length > 0 && showTranslationResultEnteredTextCard) {
  <!-- show translation results with entered text card before translation results-->
  <ion-card class="translation-results-card-entered-text" color="light">
    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col size="2"
            ><ion-icon name="language-outline"></ion-icon>
          </ion-col>
          <ion-col size="10"
            ><strong
              >{{ 'TRANSLATE.CARD_RESULTS.LABEL.ENTERED_TEXT' | translate
              }}</strong
            ></ion-col
          >
        </ion-row>
        <ion-row class="translated-row">
          <ion-col size="2">{{ baseLang }}</ion-col>
          <ion-col size="8">{{ text }}</ion-col>
          <ion-col size="2">
            <ion-button
              class="speak-btn"
              fill="clear"
              size="medium"
              (click)="speak(text, baseLang)"
              (keydown.enter)="speak(text, baseLang)"
              [disabled]="speakBtnDisabled"
            >
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  } @if(translations.length > 0 && cardResultsVisible) {
  <!-- show translation results without entered text card -->
  <ion-card class="translation-results-card" color="light">
    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col size="2"
            ><ion-icon name="language-outline"></ion-icon>
          </ion-col>
          <ion-col size="10"
            ><strong
              >{{ 'TRANSLATE.CARD_RESULTS.LABEL.TRANSLATED_TEXT' | translate
              }}</strong
            ></ion-col
          >
        </ion-row>
        @for (translation of translations; track translation.language) {
        <ion-row class="translated-row">
          <ion-col size="2">{{ translation.language }}</ion-col>
          <ion-col size="8">{{ translation.translatedText }}</ion-col>
          <ion-col size="2">
            @if(ttsService.ttsSupportedLanguagesMap[translation.language]) {
            <ion-button
              class="speak-btn"
              fill="clear"
              size="medium"
              (click)="speak(translation.translatedText, translation.language)"
              (keydown.enter)="speak(translation.translatedText, translation.language)"
              [disabled]="speakBtnDisabled"
            >
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
            }
          </ion-col>
        </ion-row>
        }
      </ion-grid>
    </ion-card-content>
  </ion-card>
  }
  <ion-accordion-group>
    <ion-accordion value="user-contingent" class="monthly-quota-accordion">
      <ion-item slot="header" color="light">
        <ion-label
          >{{ 'TRANSLATE_STATISTICS.ACCORDION.TITLE' | translate }}</ion-label
        >
      </ion-item>
      <div  slot="content">
        <app-user-statistic></app-user-statistic>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
