.translation-content {
  .sticky-toggle-btn {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--ion-background-color, #fff);
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    .translation-results-card-entered-text {
      text-align: left;
    }
  }

  div.no-languages-selected {
    margin: 16px;
    padding: 16px;
    border: 2px dashed var(--ion-color-danger);
    border-radius: 8px;
    text-align: center;
    font-size: 1em;
    color: var(--ion-color-danger);
  }

  .translation-input-card,
  .translation-results-card,
  .translation-results-card-entered-text {
    ion-card-title {
      text-align: center;
      font-size: 17px;
    }

    ion-card-header {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .header-row {
      ion-icon {
        font-size: 1.4em;
        margin-bottom: -2px;
        margin-left: -3px;
      }
    }

    .translated-row {
      margin-bottom: 20px;

      .speak-btn {
        margin-top: -8px !important;

        ion-icon {
          font-size: 1.3em;
        }
      }
    }

    .selected-target-languages {
      margin-top: 16px;
    }

    ion-textarea {
      margin-top: 32px;
    }
  }

  .monthly-quota-accordion {
    text-align: center;
    ion-label {
      font-size: 0.7rem;
      text-align: center;
    }

    app-user-statistic {
      display: block;
      padding: 0 8px;
    }
  }
}
