<ion-header>
  <ion-toolbar>
    <ion-title>{{
      "SETTINGS.TARGET_LANGUAGES.MODAL.TITLE" | translate
    }}</ion-title>
    <div class="ion-text-center">
      {{
        "SETTINGS.TARGET_LANGUAGES.MODAL.SUB_TITLE"
          | translate
            : {
                selectedLanguages: selectedLanguagesCount,
                maxTargetLanguages: maxTargetLanguages
              }
      }}
    </div>
    <div class="ion-text-center">{{ selectedLanguages }}</div>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        (keydown.enter)="closeModal()"
        title="{{ 'SETTINGS.TARGET_LANGUAGES.MODAL.BUTTON.CLOSE' | translate }}"
      >
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="searchbar-toolbar">
    <ion-icon
      class="checkbox-icon"
      name="checkbox-outline"
      slot="start"
      (click)="filterSelectedLanguages()"
      (keydown.enter)="filterSelectedLanguages()"
      title="{{
        'SETTINGS.TARGET_LANGUAGES.MODAL.SEARCH.TOOLTIPS.FILTER_SELECTED' | translate
      }}"
    ></ion-icon>
    <ion-searchbar
      #searchbar
      placeholder="{{
        'SETTINGS.TARGET_LANGUAGES.MODAL.SEARCH.PLACEHOLDER' | translate
      }}"
      (ionInput)="filter($event)"
      title="{{
        'SETTINGS.TARGET_LANGUAGES.MODAL.SEARCH.TOOLTIPS.FILTER' | translate
      }}"
    >
    </ion-searchbar>
    <ion-icon
      class="trash-icon"
      name="trash-outline"
      slot="end"
      (click)="clearSearch(searchbar)"
      (keydown.enter)="clearSearch(searchbar)"
      title="{{
        'SETTINGS.TARGET_LANGUAGES.MODAL.SEARCH.TOOLTIPS.CLEAR_FILTER' | translate
      }}"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let lang of filteredLanguages">
      <ion-label>{{ lang.name }}</ion-label>
      <ion-checkbox
        slot="end"
        [checked]="isChecked(lang.language)"
        [disabled]="!isChecked(lang.language) && selectedLanguagesCount >= maxTargetLanguages"
        (ionChange)="toggle(lang)"
        [title]="getCheckboxTooltip(lang.language)"
      >
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
