<ion-header>
  <ion-toolbar>
    <ion-title>{{
      "SETTINGS.STATISTICS.USER_DETAIL.TITLE" | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- User Info Section -->
    <ion-row class="section-header">
      <ion-col>
        <h2>
          {{
            "SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.TITLE" | translate
          }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_NAME"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{ userStatistic.userName }}</ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_TYPE"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{
        userStatistic.userType === "U"
          ? ("SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_TYPE_USER"
            | translate)
          : ("SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_TYPE_PROGRAMMER"
            | translate)
      }}</ion-col>
    </ion-row>
    @if (isProgrammerDevice) {
      <ion-row class="data-row">
        <ion-col size="4" class="label"
          >{{
            "SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_ID"
              | translate
          }}:</ion-col
        >
        <ion-col size="8" class="value monospace">{{
          userStatistic.userId
        }}</ion-col>
      </ion-row>
      <ion-row class="data-row">
        <ion-col size="4" class="label"
          >{{
            "SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_CREATED"
              | translate
          }}:</ion-col
        >
        <ion-col size="8">{{
          getFormatDateTime(userStatistic.userCreatedAt)
        }}</ion-col>
      </ion-row>
      <ion-row class="data-row" *ngIf="userStatistic.userLastUpdated">
        <ion-col size="4" class="label"
          >{{
            "SETTINGS.STATISTICS.USER_DETAIL.USER_INFORMATION.LABEL.USER_UPDATED"
              | translate
          }}:</ion-col
        >
        <ion-col size="8">{{
          getFormatDateTime(userStatistic.userLastUpdated)
        }}</ion-col>
      </ion-row>
    }
    <!-- Device Info Section -->
    <ion-row class="section-header">
      <ion-col>
        <h2>
          {{
            "SETTINGS.STATISTICS.USER_DETAIL.DEVICE_INFORMATION.TITLE"
              | translate
          }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.DEVICE_INFORMATION.LABEL.PLATFORM"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value"
        >{{ userStatistic.displayedPlatform }}
        {{
          userStatistic.displayedPlatform === "native" ? "- Android App" : ""
        }}</ion-col
      >
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.DEVICE_INFORMATION.LABEL.DEVICE_PLATFORM"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{
        userStatistic.deviceInfo.platform
      }}</ion-col>
    </ion-row>
    <ion-row class="data-row" *ngIf="userStatistic.device !== 'unknown'">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.DEVICE_INFORMATION.LABEL.DEVICE"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{ userStatistic.device }}</ion-col>
    </ion-row>

    <!-- Translation Stats Section -->
    <ion-row class="section-header">
      <ion-col>
        <h2>
          {{
            "SETTINGS.STATISTICS.USER_DETAIL.TRANSLATION_STATISTICS.TITLE"
              | translate
          }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.TRANSLATION_STATISTICS.LABEL.TRANSLATED_CHARS"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{
        userStatistic.translatedCharCount
      }}</ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.TRANSLATION_STATISTICS.LABEL.LANGUAGE"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{
        userStatistic.deviceInfo.language
      }}</ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.TRANSLATION_STATISTICS.LABEL.TARGET_LANGUAGES"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">
        <span [innerHTML]="targetLanguagesDisplay"></span>
      </ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.TRANSLATION_STATISTICS.LABEL.LAST_TRANSLATION"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{
        getFormatDateTime(userStatistic.lastTranslationDate)
      }}</ion-col>
    </ion-row>

    <!-- User Agent Section -->
    <ion-row class="section-header">
      <ion-col>
        <h2>
          {{ "SETTINGS.STATISTICS.USER_DETAIL.USER_AGENT.TITLE" | translate }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="12">
        <p class="user-agent">{{ userStatistic.deviceInfo.userAgent }}</p>
      </ion-col>
    </ion-row>

    <!-- App Version Section -->
    <ion-row class="section-header">
      <ion-col>
        <h2>
          {{ "SETTINGS.STATISTICS.USER_DETAIL.APP_VERSION.TITLE" | translate }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="4" class="label"
        >{{
          "SETTINGS.STATISTICS.USER_DETAIL.APP_VERSION.LABEL.VERSION"
            | translate
        }}:</ion-col
      >
      <ion-col size="8" class="value">{{ getAppVersion() }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
