<app-logo [type]="LogoType.Copyright"></app-logo>

<ng-container *ngIf="lang === 'de'; else englishTemplate">
  <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
</ng-container>

<!-- E N G L I S H   T E M P L A T E -->

<ng-template #englishTemplate>
  <div class="additional-margin-right">
    <p>
      The app is <b>open source</b>, and the source code is available on
      <a
        class="external-link"
        href="https://github.com/zoechbauer/z-control-multi-language-translator"
        target="_blank"
        rel="noopener noreferrer"
        title="{{ 'SETTINGS.SOURCE.TOOLTIPS.DOWNLOAD' | translate }}"
        >GitHub
        <ion-icon
          name="open-outline"
          style="vertical-align: text-bottom; margin-left: 2px"
        ></ion-icon> </a
      >. You can review the code anytime to see how the app works and how your
      data is handled.
    </p>
    <p class="small-text">
      <i
        >Note: The link opens in your browser. Afterward, return to the
        z&#8209;control Multi Language Translator app.</i
      >
    </p>
  </div>
</ng-template>

<!-- G E R M A N   T E M P L A T E -->

<ng-template #germanTemplate>
  <div class="additional-margin-right">
    <p>
      Die App ist <b>open source</b>, und der Quellcode ist auf
      <a
        class="external-link"
        href="https://github.com/zoechbauer/z-control-multi-language-translator"
        target="_blank"
        rel="noopener noreferrer"
        title="{{ 'SETTINGS.SOURCE.TOOLTIPS.DOWNLOAD' | translate }}"
        >GitHub
        <ion-icon
          name="open-outline"
          style="vertical-align: text-bottom; margin-left: 2px"
        ></ion-icon>
      </a>
      verfügbar. Sie können den Code jederzeit überprüfen, um zu sehen, wie die
      App funktioniert und wie Ihre Daten verarbeitet werden.
    </p>
    <p class="small-text">
      <i
        >Hinweis: Der Link öffnet sich in Ihrem Browser. Kehren Sie danach zur
        z&#8209;control Multi-Sprachen-Übersetzer-App zurück.</i
      >
    </p>
  </div>
</ng-template>
