.button-wrapper {
  text-align: center;
  margin: 5px 0;

  ion-button {
    margin: 0 auto;
  }
}

.margin-right{
  margin-right: 8px;
}

ion-icon {
  vertical-align: middle;
}

.small-font {
  font-size: 0.8em;
  text-align: center;
}