<app-logo [type]="LogoType.Copyright"></app-logo>

<ng-container *ngIf="lang === 'de'; else englishTemplate">
  <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
</ng-container>

<!-- E N G L I S H   T E M P L A T E -->

<ng-template #englishTemplate>
  <h5>
    <ion-icon name="cloud-download"></ion-icon>
    Download the Native Android App
  </h5>
  <p>
    Experience the full power of z&#8209;control Multi Language Translator with
    our native Android application, available on the
    <strong>Google Play Store</strong>.
  </p>

  <h5>
    <ion-icon name="mail-outline" class="margin-right"></ion-icon>
    <b>Limited Availability - Beta Testing Only</b>
  </h5>
  <p>
    Due to the free tier limit of
    <b
      >{{
        maxTranslateCharsLengthPerMonth | number: "1.0-0" : "en-US"
      }}
      characters per month</b
    >
    on the <i>Google Translate API</i>, we cannot offer the app publicly. It is
    currently available only to a limited number of beta testers.
  </p>
  <p>
    <strong>Want to join?</strong> Send us your email address via
    <b>Feedback to z&#8209;control</b> to be added to the beta testing group.
    You'll then receive access to install the test version from Google Play
    Store.
  </p>

  <h6>
    <ion-icon name="rocket-outline"></ion-icon>
    Key Features:
  </h6>
  <ul>
    <li>
      <strong>Offline Access:</strong> Use the app anywhere without a computer
    </li>
    <li>
      <strong>Voice Input:</strong> Faster text entry using speech-to-text on
      your device's keyboard
    </li>
    <li>
      <strong>Optimized for Mobile:</strong> Native app experience with improved
      performance
    </li>
  </ul>

  <p class="small-font">
    <strong>100% Free</strong> • <strong>No Registration Required</strong>
    <br />
    <strong>Optimized for Mobile</strong>
  </p>

  <div class="button-wrapper">
    <ion-button
      disabled="true"
      href="https://play.google.com/store/apps/details?id=at.zcontrol.zoe.qrcodeapp"
      target="_blank"
      color="primary"
      class="download-button"
      title="{{ 'SETTINGS.MOBILE-APP.TOOLTIPS.DOWNLOAD' | translate }}"
    >
      <ion-icon name="logo-google-playstore" slot="start"></ion-icon>
      Download Native App
    </ion-button>
  </div>
</ng-template>

<!-- G E R M A N   T E M P L A T E -->

<ng-template #germanTemplate>
  <h5>
    <ion-icon name="cloud-download"></ion-icon>
    Native Android-App herunterladen
  </h5>
  <p>
    Erleben Sie die volle Leistung von z&#8209;control Multi-Sprachen-Übersetzer
    mit unserer nativen Android-Anwendung, verfügbar im
    <strong>Google Play Store</strong>.
  </p>

  <h5>
    <ion-icon name="mail-outline" class="margin-right"></ion-icon>
    <b>Begrenzte Verfügbarkeit - Nur Beta-Test</b>
  </h5>
  <p>
    Aufgrund der kostenlosen Obergrenze von
    <b
      >{{ maxTranslateCharsLengthPerMonth | number: "1.0-0" : "de" }} Zeichen
      pro Monat</b
    >
    bei der <i>Google Translate API</i> können wir die App nicht öffentlich
    anbieten. Sie ist derzeit nur für eine begrenzte Anzahl von Beta-Testern
    verfügbar.
  </p>
  <p>
    <strong>Möchten Sie teilnehmen?</strong> Senden Sie uns Ihre E-Mail-Adresse
    über <b>Feedback an z&#8209;control</b>, um zur Beta-Testgruppe hinzugefügt
    zu werden. Anschließend erhalten Sie Zugang zur Installation der Testversion
    über den Google Play Store.
  </p>

  <h6>
    <ion-icon name="rocket-outline"></ion-icon>
    Hauptfunktionen:
  </h6>
  <ul>
    <li>
      <strong>Offline-Zugriff:</strong> Verwenden Sie die App überall ohne
      Computer
    </li>
    <li>
      <strong>Spracheingabe:</strong> Schnellere Texteingabe mittels
      Sprach-zu-Text über die Tastatur Ihres Geräts
    </li>
    <li>
      <strong>Für Mobilgeräte optimiert:</strong> Native App-Erfahrung mit
      verbesserter Leistung
    </li>
  </ul>

  <p class="small-font">
    <strong>100% kostenlos</strong> •
    <strong>Keine Registrierung erforderlich</strong> <br />
    <strong>Für Mobilgeräte optimiert</strong>
  </p>

  <div class="button-wrapper">
    <ion-button
      disabled="true"
      href="https://play.google.com/store/apps/details?id=at.zcontrol.zoe.qrcodeapp"
      target="_blank"
      color="primary"
      class="download-button"
      title="{{ 'SETTINGS.MOBILE-APP.TOOLTIPS.DOWNLOAD' | translate }}"
    >
      <ion-icon name="logo-google-playstore" slot="start"></ion-icon>
      Native App herunterladen
    </ion-button>
  </div>
</ng-template>
