<app-logo [type]="LogoType.Copyright"></app-logo>

<ng-container *ngIf="lang === 'de'; else englishTemplate">
  <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
</ng-container>

<!-- E N G L I S H   T E M P L A T E -->

<ng-template #englishTemplate>
  <h5>
    <ion-icon name="cloud-download"></ion-icon>
    Download the native <strong>Android App</strong>
  </h5>
  <p>
    Use the native z-control multi-language translator app, available in the
    <strong>Google Play Store</strong>.
  </p>

  <h5>
    <ion-icon name="mail-outline" class="margin-right"></ion-icon>
    <b>Unfortunately, limited number of users only!</b>
  </h5>
  <p>
    Since the <i>Google Translate API</i> allows only
    <b
      >{{
        maxTranslateCharsLengthPerMonth | number: "1.0-0" : "en-US"
      }}
      characters per month for free</b
    >, we cannot roll out the app globally. Instead, we can only make it
    available to a limited number of test users.
  </p>
  <p>
    We need your feedback! Please send us your email address via
    <b>Feedback to z-control</b> so we can add you to the test group. After
    that, you can install the test version of the app from the Google Play
    Store.
  </p>
  <p>
    The app has the same functionality as the web version, but also offers the
    ability to use voice input for faster text entry. Additionally, you can use
    the app anywhere, even when you don't have access to a computer. Try it out!
    We look forward to your feedback.
  </p>

  <h6>
    <ion-icon name="rocket-outline"></ion-icon>
    Advantageous features:
  </h6>
  <ul>
    <li>
      <strong>Available everywhere:</strong> You can use the app anywhere.
    </li>
    <li>
      <strong>Voice control:</strong> Use the speech-to-text function for faster
      text input
    </li>
  </ul>

  <p>
    <ion-icon name="checkmark-outline"></ion-icon>
    <strong>100% Free</strong> •
    <strong>Optimized for Mobile</strong>
  </p>

  <div class="button-wrapper">
    <ion-button
      disabled="true"
      href="https://play.google.com/store/apps/details?id=at.zcontrol.zoe.qrcodeapp"
      target="_blank"
      color="primary"
      class="download-button"
      title="{{ 'SETTINGS.MOBILE-APP.TOOLTIPS.DOWNLOAD' | translate }}"
    >
      <ion-icon name="logo-google-playstore" slot="start"></ion-icon>
      Download for Android
    </ion-button>
  </div>
</ng-template>

<!-- G E R M A N   T E M P L A T E -->

<ng-template #germanTemplate>
  <h5>
    <ion-icon name="cloud-download"></ion-icon>
    Laden Sie die native <strong>Android-App</strong> herunter
  </h5>
  <p>
    Verwenden Sie die native z-control Multi-Sprachen-Übersetzer App, die im
    <strong>Google Play Store</strong> verfügbar ist.
  </p>

  <h5>
    <ion-icon name="mail-outline" class="margin-right"></ion-icon>
    <b>Leider nur begrenzte Benutzer Anzahl!</b>
  </h5>
  <p>
    Da mittels <i>Google Translate API</i
    ><b>
      monatlich nur
      {{ maxTranslateCharsLengthPerMonth | number: "1.0-0" : "de" }} Zeichen
      kostenlos</b
    >
    übersetzt werden können, können wir die App nicht global ausrollen, sondern
    nur einer begrenzten Anzahl von Testnutzern zur Verfügung stellen.
  </p>
  <p>
    Wir benötigen hier Ihr Feedback. Senden Sie uns bitte Ihre e-mail Adresse
    mittels
    <b>Feedback an z-control</b> zu, damit wir Sie in die Testgruppe eintragen
    können. Danach können Sie die Testversion der App über den Google Play Store
    installieren.
  </p>
  <p>
    Sie hat denselben Funktionsumfang wie die Web-Version, bietet aber
    zusätzlich die Möglichkeit, die Spracheingabe zu verwenden, um Texte
    schneller einzugeben. Außerdem können Sie die App überall verwenden, auch
    wenn Sie gerade keinen Zugriff auf einen Computer haben. Probieren Sie es
    aus! Wir freuen uns auf Ihr Feedback.
  </p>

  <h6>
    <ion-icon name="rocket-outline"></ion-icon>
    Vorteilhafte Funktionen:
  </h6>
  <ul>
    <li>
      <strong>Überall verfügbar:</strong> Sie können die App überall verwenden.
    </li>
    <li>
      <strong>Sprachsteuerung:</strong> Verwenden Sie die
      Sprach-zu-Text-Funktion für eine schnellere Texteingabe
    </li>
  </ul>

  <p>
    <ion-icon name="checkmark-outline"></ion-icon>
    <strong>100% kostenlos</strong> •
    <strong>Für Mobilgeräte optimiert</strong>
  </p>

  <div class="button-wrapper">
    <ion-button
      disabled="true"
      href="https://play.google.com/store/apps/details?id=at.zcontrol.zoe.qrcodeapp"
      target="_blank"
      color="primary"
      class="download-button"
      title="{{ 'SETTINGS.MOBILE-APP.TOOLTIPS.DOWNLOAD' | translate }}"
    >
      <ion-icon name="logo-google-playstore" slot="start"></ion-icon>
      Für Android herunterladen
    </ion-button>
  </div>
</ng-template>
