<ion-header>  
  <ion-toolbar>
    <ion-title>{{ "SETTINGS.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-select
      label="{{ 'SETTINGS.LANGUAGE.LANGUAGE' | translate }}"
      label-placement="stacked"
      [(ngModel)]="lang"
      (ionChange)="onLanguageChange($event)"
      interface="popover"
      title="{{ 'SETTINGS.LANGUAGE.TOOLTIPS.CHANGE_LANGUAGE' | translate }}"
    >
      <ion-select-option value="en">{{
        "SETTINGS.LANGUAGE.LANGUAGE_EN" | translate
      }}</ion-select-option>
      <ion-select-option value="de">{{
        "SETTINGS.LANGUAGE.LANGUAGE_DE" | translate
      }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
